@{
    ViewBag.Title = "HTML5技术测试";
}

<h2 class="page-header">HTML5技术测试</h2>
<ul>
    <li>
        <h3>@Html.ActionLink("音频测试（Buzz）", "Buzz", "HTML5")</h3>
    </li>
    <li>
        <h3>@Html.ActionLink("图形测试（Three.js）", "ThreeJS", "HTML5")</h3>
    </li>
    <li>
        <h3>@Html.ActionLink("WebRTC测试", "WebRTC", "HTML5")</h3>
    </li>
</ul>