@{
    ViewBag.Title = "Url编码/解码 - 在线小工具";
}

<script>
    var url = "@Url.Action("EncodeUrl")";

    //Url编码
    function encodeUrl() {
        var server = $("#url_encode_by_server").prop("checked");
        var text = $("#url_encode_input").val();
        if (text.length <= 0) {
            return;
        }
        if (server) {
            $.ajax({
                url: url,
                type: "post",
                data: { source: text, encode: true },
                success: function (result) {
                    $("#url_encode_output").val(result);
                }
            });
        }
        else {
            var result = encodeURIComponent(text);
            $("#url_encode_output").val(result);
        }
    }

    //Url解码
    function decodeUrl() {
        var server = $("#url_encode_by_server").prop("checked");
        var text = $("#url_encode_input").val();
        if (text.length <= 0) {
            return;
        }
        if (server) {
            $.ajax({
                url: url,
                type: "post",
                data: { source: text, encode: false },
                success: function (result) {
                    $("#url_encode_output").val(result);
                }
            });
        }
        else {
            var result = decodeURIComponent(text);
            $("#url_encode_output").val(result);
        }
    }
</script>

<h2 class="page-header">Url编码/解码</h2>
<div class="well">
    <div class="form-group">
        <label for="url_encode_input" class="control-label">请输入要编码/解码的URL：</label>
        <textarea id="url_encode_input" class="form-control" rows="5"></textarea>
    </div>
    <div class="form-group">
        <input type="button" value="编码" class="btn btn-default" onclick="encodeUrl()" />
        <input type="button" value="解码" class="btn btn-default" onclick="decodeUrl()" />
        <label class="checkbox-inline">
            <input type="checkbox" id="url_encode_by_server">服务器端转换
        </label>
    </div>
    <div class="form-group">
        <label for="url_encode_output" class="control-label">输出结果：</label>
        <textarea id="url_encode_output" class="form-control" rows="5"></textarea>
    </div>
</div>
