
@{
    ViewBag.Title = "欢迎使用小网格排队系统。";
}

<h2>欢迎使用小网格排队系统</h2>

<button class="btn btn-lg btn-default">
    点我取号
</button>

<div>当前有 ？？？ 个人在排队。</div>

<div>当前排队情况</div>

<table>
    <thead>
    <tr>
        <th>序号</th>
        <th></th>
        <th>取号时间</th>
        <th>取号来源</th>
    </tr>
    </thead>
    <tbody>
    
    </tbody>
</table>